	
<!-- HOME -->
	<div id="home">
		<!-- container -->
		<div class="container">
			<!-- home wrap -->
			<div class="home-wrap">
				<!-- home slick -->
				<div id="home-slick">
					<!-- banner -->
					<div class="banner banner-1">
						<img src="./static/img/almuerzo-1.jpg" alt="">
						<div class="banner-caption text-center banner-info">
							<h1 class="white-color">Almuerzos</h1>
							<h3 class="white-color font-weak">Precios inigualables</h3>
						</div>
					</div>
					<!-- /banner -->

					<!-- banner -->
					<div class="banner banner-1">
						<img src="./static/img/desayuno-1.jpg" alt="">
						<div class="banner-caption banner-info">
							<h1 class="white-color">DESAYUNO<br><span class="white-color font-weak">Los mejores</span></h1>
						</div>
					</div>
					<!-- /banner -->

					<!-- banner -->
					<div class="banner banner-1">
						<img src="./static/img/bebidas-2.jpg" alt="">
						<div class="banner-caption banner-info">
							<h1 class="white-color">Bebidas <span>exquisitas</span></h1>
						</div>
					</div>
					<!-- /banner -->
				</div>
				<!-- /home slick -->
			</div>
			<!-- /home wrap -->
		</div>
		<!-- /container -->
	</div>
	<!-- /HOME -->
	<!-- section -->
	<div class="section">
		<!-- container -->
		<div class="container">
			<!-- row -->
			<div class="row">
				<!-- banner -->
				<div class="col-md-4 col-sm-6">
					<a class="banner banner-1" href="">
						<img src="./static/img/vinos-2.jpg" alt="">
						<div class="banner-caption text-center img-info">
							<h2 class="white-color">VINOS</h2>
						</div>
					</a>
				</div>
				<!-- /banner -->

				<!-- banner -->
				<div class="col-md-4 col-sm-6">
					<a class="banner banner-1" href="">
						<img src="./static/img/bebidas-1.jpg" alt="">
						<div class="banner-caption text-center img-info">
							<h2 class="white-color">BEBIDAS</h2>
						</div>
					</a>
				</div>
				<!-- /banner -->

				<!-- banner -->
				<div class="col-md-4 col-md-offset-0 col-sm-6 col-sm-offset-3">
					<a class="banner banner-1" href="">
						<img src="./static/img/desayuno-2.jpg" alt="">
						<div class="banner-caption text-center img-info">
							<h2 class="white-color">DESAYUNO</h2>
						</div>
					</a>
				</div>
				<!-- /banner -->

			</div>
			<!-- /row -->
		</div>
		<!-- /container -->
	</div>
	<!-- /section -->


	
